.carrito {
    width: 98.67%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
}
.carrito__botonPanel {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 2 rem;
    cursor: pointer;
}
.carritoVacio {
    text-align: center;
    color: #C73b0b;
    font-size: 1.5rem;
    font-style: italic;
    width: 100%;

}

/* Estilo líneas de producto */

.itemCarrito {
    display: flex;
    align-items: center;
    width: 100%;
}
.compraYTotal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.resumenCompra {
    width: 20%;
    align-items: center;
}

.carritoLinea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.itemCarrito__datos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
.nameDesc {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1rem 0 1rem 0;
    width: 50%;
}
.qtyQuitar {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
}
.cantidad {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: max-content;
}
.botonQuitar {
    background-color: #C73b0b;
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo Resumen Compra */

.resumenCompra {
    background-color: #e3e3e3;
    margin-right: 4rem;
    height: max-content;
    border-radius: 10px;
    padding: 1rem 3rem 2rem 3rem;
}
.tituloResumen {
    color: #C73b0b;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.importe {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.noIncluye {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}
.delBoton {
    text-align: center;
}
.botonFinal {
    background-color: #C73b0b;
    width: 12rem;
    height: 2rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0 0 0;
    cursor: pointer;
}
.botonFinal:hover {
    box-shadow: 2px 2px 1px grey;
}

/* Estilo Botones Finales */

.limpiarSeguir {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    cursor: pointer;
}

.botonLimpiar {
    width: 8rem;
    height: 2.5rem;
    background-color: red;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.botonSeguirCompra {
    width: 12rem;
    height: 2.5rem;
    background-color: black;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
