/* Estilos del navbar */

.header {
    position: absolute;
    width: 100%;
  }
  .header-container {
    background-color: #C73b0b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  
  .logo-container {
    width: 4rem;
    height: 4rem;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    cursor: pointer;
    justify-self: center;
    background-image: url(/public/MS.png);
  }
  
  nav {
    display: none;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-container li {
    margin: 0 10px;
    list-style: none;
  }
  
  .nav-container li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
  }
  
  .background--black {
    background-color: rgba(29, 29, 29, 0.9);
  }
  
  @media only screen and (min-width: 800px) {
    nav {
      display: block;
      justify-self: center;
    }
  
    .menu-button {
      display: none;
    }
  }

  /* Estilos de CartWidget */

  .cart {
    color: white;
    font-size: 1.3rem;
  }

  .cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
  }

  /* Estilo Item */

  .bodyShop {
    width: 100%;
    height: 100vh;
    background-position: 67%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bodyShop-slide-1 {
    background-image: url(https://www.lifeder.com/medidas-cancha-basquetbol/);
  }
  
  .bodyShop-container {
    display: grid;
    grid-template: 1fr 2fr 1fr / 0.5fr 2fr 0.5fr;
    height: 100%;
    background-image: url(https://st2.depositphotos.com/3725083/8633/i/600/depositphotos_86337698-stock-photo-basketball-arena.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .bodyShop-container__text-box {
    grid-column: 2;
    grid-row: 2;
    color: black;
    text-align: center;
    align-self: center;
  }
  
  .bodyShop-container__text-box h1 {
    font-size: 3.4rem;
    font-weight: 700;
  }
  
  .bodyShop-container__text-box p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 30px auto;
    max-width: 360px;
  }
  
  .button-primary {
    background-color: #C73b0b;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    color: white;
  }